@font-face {
  font-family: 'BPkinder';
  src: url('BPkinder.eot');
  src: url('BPkinder.eot?#iefix') format('embedded-opentype'),
       url('BPkinder.woff') format('woff'),
       url('BPkinder.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}