:root {
	--background-color-1: #f9d48e;
	--background-color-2: #f9d48e;
	--background-color-3: #f9d48e;
}

html, body {
	padding:0;
	margin:0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
	font-size: 1em;
    font-family: Roboto, Helvetica-Neue, Arial, sans-serif;
    background-color: var(--background-color-1);
}

#guest{
	display: none;
}
.container{
	z-index:100;
	position: absolute;
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-areas: 
		". . ."
		". cont ."
		". . .";
	min-height: 0;
	min-width: 0;
	height:100%;
	width:100%;	
	opacity:0;
	visibility:hidden;
}

.content{
	grid-area: cont;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color-2);
	flex-direction: column;
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "nav1" "car1" "butt1";
    min-height: 0;
    min-width: 0;
}

#page-waiting-room .content{
	background-color: var(--background-color-3);
}

#cards-container {
	overflow: scroll;
	grid-area: car1;
}

#button-new-invitation {
	grid-area:butt1;
}

#mycanvas {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.egg {
    width: 100%;
    height: 75%;
    position: absolute;
}

#myegg {
	top: 65%;
}

#enemyegg {
	top: -35%;
}

.egg img {
    height: 100%;
    margin: auto;
	display: block;
}

#myegg {
	transform: rotateZ(180deg);
}

#loading-icon {
	opacity:0;
	display:none;
}

#button-invitation {
	visibility:hidden;
	opacity:0;
}

#instructions::before {
	content: attr(data-title);
}

.container.active, #button-invitation.active {
	opacity:100;
	visibility: unset;
}

#loading-icon.active  {
	opacity:100;
	display: unset;
}

.inactive {
	opacity:0;
	visibility: hidden;
	height:0;
	display:none;
}

.maxwidth-50{max-width:50%;}
.share-button {fill: #eee;}

.share-button:hover {fill: #fff;}

/* codepen https://codepen.io/bertdida/pen/xyPKRX
*/
.c-formContainer .c-form {
  width: 37.5em;
}

.c-formContainer,
.c-form {
  width: 20em;
  height: 6.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
}

.c-fake-button {
	padding: 0.625em;
	box-sizing: border-box;
	box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
	width: 20em;
	height: 6.25em;
	border-radius: 6.25em;
	transition: 0.2s;
	background-color: #ff7b73;
	color: white;
	cursor: pointer;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-fake-button p::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form {
  position: absolute;
  border-radius: 6.25em;
  background-color: #ffffff;
  transition: 0.2s;
}

.c-button {
	position: absolute;
	border-radius: 6.25em;
	transition: 0.2s;
	background-color: #ff7b73;
	color: #ff7b73;
	top: 0;
	cursor: pointer;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.c-button::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #ffcccc;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
}
.c-form__input::placeholder {
  color: currentColor;
}
.c-form__input:required:valid {
  color: #ff7b73;
}
.c-form__input:required:valid + .c-form__buttonLabel {
  color: #ffffff;
}
.c-form__input:required:valid + .c-form__buttonLabel::before {
  pointer-events: initial;
}

.c-form__buttonLabel {
	color: #ffaea9;
	height: 100%;
	width: auto;
	pointer-events: none;
	cursor: default;
}
.c-form__buttonLabel::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #ff7b73;
}

