<!DOCTYPE html>
<html lang="el">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37653732-2"></script>
  <script
  src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
  integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB"
  crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37653732-2');
  </script>

    <meta charset="utf-8">
    <title>Τσουγκρίζω πασχαλινο αυγό</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', path='/animate.min.css') }} ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/KayakBlack.css') }} "/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/KayakLight.css') }} "/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/BPKinder.css') }} "/>
	  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width, maximum-scale=1.0" />

    <meta name="description" content="Τσούγκρισμα αυγών">
    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Τσούγκρισμα"> <!-- website name -->
    <meta property="og:site" content="{{ url_for('host') }}"> <!-- website link -->
    <meta property="og:title" content="Τσούγκρισε αυγά με τα αγαπημένα σου πρόσωπα εξ'αποστάσεως!"> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Το Τσούγκρισε είναι ενα web app για όλους εμάς που δεν έχουμε την ευκαιρία να περάσουμε αυτές τις μέρες με τους αγαπημένους μας!"> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="{{ url_for('static', path='/ogimage.jpg') }}">
    <meta property="og:url" content="{{ url_for('host') }}"> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article">
    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}">

  </head>
	<script>
	var ws_url = " {{ ws_url }} ";
	var is_host = {{ is_host or "true" }} ;
	var opponent_nickname = "{{ opponent_nickname }}";
  var error = "{{ error}}";
  var result = {%- if result %}
                {{ result | safe }}
            {% else %}
                null
            {%- endif %};
	</script>
  <body>
	{% block content %}
	ουπς!
	{% endblock %}
  </body>
  {% block last %}
  {% endblock %}
</html>
