<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', path='/animate.min.css') }} ">
  </head>
	<script>
	var ws_url = " {{ ws_url }} ";
	var is_host = {{ is_host }} ;
	var opponent_nickname = "{{ opponent_nickname }}";
	</script>
  <body>
    <!-- page content -->
    <div id="page-nickname" class="container active">
    	<div class="content">
    		<p class="maxwidth-50">Καλωσήρθες! Πως να σε συστήσω;</p>
    		<div class="c-formContainer">
				<form class="c-form" autocomplete="off" action="">
			    	<input id="nickname" class="c-form__input" placeholder="Όνομα" type="text" pattern="[A-Za-zΑ-Ωα-ω0-9άέίϊΐόήώύϋΰΆΈΊΪΌΉΏΎΫς\s]{1,30}$" required>
					<label class="c-form__buttonLabel">
	      				<button id="setname" class="c-form__button" type="button">Έναρξη</button>
					</label>
				</form>
			</div>
    	</div>
    </div>
    <div id="page-waiting-room" class="container">
    	<div class="content">
    		<p class="instructions maxwidth-50"></p>
    		<img id="loading-icon" width="128px" src="{{ url_for('static', path='/loader.gif') }} ">
			<div id="button-invitation" class="c-fake-button">
				<p></p>
			</div>
    	</div>
    </div>
    <div id="page-game" class="container">
    	<div class="content">
    		<p class="title"></p>
			<p class="maxwidth-50">FIGHT!</p>
			<div id="mycanvas">
				<div id="eggsanimated01_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;">
					<script type="text/javascript" charset="utf-8" src=" {{ url_for('static', path='/eggs_animated01.hyperesources/eggsanimated01_hype_generated_script.js?47843') }} "></script>
				</div>
			</div>
			
    	</div>
    </div>
	<div id="page-results" class="container">
    	<div class="content">
    		<p class="instructions maxwidth-50">test title</p>
    		<div id="cards-container">
				<div style="display:none;" class="template">
					<img class="egg-result egg-champion" width="320px" src="{{ url_for('static', path='/egg_champion_s.png') }} ">
					<img class="egg-result egg-cracked-tip" width="320px" src="{{ url_for('static', path='/egg_cracked_tip_s.png') }} ">
					<img class="egg-result egg-cracked-butt" width="320px" src="{{ url_for('static', path='/egg_cracked_butt_s.png') }} ">
					<img class="egg-result egg-cracked-both" width="320px" src="{{ url_for('static', path='/egg_cracked_both_s.png') }} ">
				</div>
			</div>
			<div id="button-new-invitation" class="c-fake-button">
				<p>Σπάσε αυγό με άλλο φίλο</p>
			</div>
			
    	</div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
  <script src="{{ url_for('static', path='/script.js') }}"></script>
</html>
