{% macro image_url(image_name, ending) -%}
{% set greek = locale %}

{% if locale == 'el' %}
{% set image_url = url_for('static', path=image_name + '.' + ending)  %}
{% else %}
{% set image_url = url_for('static', path=image_name + '.en.' + ending)  %}
{% endif %}
{{ image_url }}
{%- endmacro %}

<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37653732-2"></script>
  <script
  src="https://browser.sentry-cdn.com/5.15.4/bundle.min.js"
  integrity="sha384-Nrg+xiw+qRl3grVrxJtWazjeZmUwoSt0FAVsbthlJ5OMpx0G08bqIq3b/v0hPjhB"
  crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37653732-2');
  </script>

    
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', path='/animate.min.css') }} ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/KayakBlack.css') }} "/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/KayakLight.css') }} "/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/BPKinder.css') }} "/>
	  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width, maximum-scale=1.0" />
    
    {% block switchmeta %}
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{meta_description}}">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site" content="{{ url_for('host') }}"> <!-- website link -->
    
    <meta property="og:site_name" content="{{meta_site_name}}"> <!-- website name -->
    <meta property="og:title" content="{{ meta_title | safe }}"> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="{{meta_ogdescription}}"> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="{{ image_url('/ogimage', 'jpg') }}">

    <meta property="og:url" content="{{ url_for('host') }}"> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article">
    <meta property="og:locale" content="el_GR">
    <meta property="og:locale:alternate" content="en_US">
{# https://developers.facebook.com/docs/messenger-platform/messenger-profile/supported-locales/ #}

    {% endblock %}
    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}">

  </head>
	<script>
	var ws_url = " {{ ws_url }} ";
	var is_host = {{ is_host or "true" }} ;
	var opponent_nickname = "{{ opponent_nickname }}";
  var error = "{{ error}}";
  var result = {%- if result %}
                {{ result | safe }}
            {% else %}
                null
            {%- endif %};
  var translations = {
    en: "{{ url_for('static', path='/i18n/en.json') }}",
    el: "{{ url_for('static', path='/i18n/el.json') }}",
    sr: "{{ url_for('static', path='/i18n/sr.json') }}",
    ro: "{{ url_for('static', path='/i18n/ro.json') }}",

  }

	</script>
  <body>
	{% block content %}
	ουπς!
	{% endblock %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', path='/jquery.i18n/CLDRPluralRuleParser.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.messagestore.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.fallbacks.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.language.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n//jquery.i18n.parser.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.emitter.js') }}"></script>
	<script src="{{ url_for('static', path='/jquery.i18n/jquery.i18n.emitter.bidi.js') }}"></script>
  {% block last %}
  {% endblock %}
</html>
