{% extends "base.html.jinja2" %}

{% block content %}

<div id="page-internal-error" class="container active">
    	<div class="content">
    		<p class="instructions"> {{error_msg}} </p>  
			{# <p class="instructions">Κάτι απρόσμενο συνέβη... ΔΕΝ ΔΟΥΛΕΥΕΙ ΤΟ ΕΛΛΗΝΙΚΟ !!</p> #} 

			<div class="c-fake-button" onclick="window.location = '/'">
				<p> {{home_page}} </p>
			</div>

    	</div>
    </div>
{% endblock %}
