{% extends "base.html.jinja2" %}

<div id="page-internal-error" class="container">
    	<div class="content">
    		<p class="instructions">Κάτι απρόσμενο συνέβη και . </br> Δοκίμασε </p>
    		<div id="cards-container">
				<div style="display:none;" class="template">
					<p class="versus-title"></p>
					<p class="tag-line"></p>
					<img class="egg-result egg-champion" width="320px" src="{{ url_for('static', path='/egg_champion_s.png') }} ">
					<img class="egg-result egg-cracked-tip" width="320px" src="{{ url_for('static', path='/egg_cracked_tip_s.png') }} ">
					<img class="egg-result egg-cracked-butt" width="320px" src="{{ url_for('static', path='/egg_cracked_butt_s.png') }} ">
					<img class="egg-result egg-cracked-both" width="320px" src="{{ url_for('static', path='/egg_cracked_both_s.png') }} ">
				</div>
			</div>
			<div id="button-new-invitation" class="c-fake-button">
				<p>Νεα Αναμέτρηση</p>
			</div>
			
    	</div>
    </div>