{% extends "base.html.jinja2" %}

{% block content %}

<div id="page-internal-error" class="container active">
    	<div class="content">
    		<p class="instructions">Κάτι απρόσμενο συνέβη... </p>

			<div class="c-fake-button" onclick="window.location = '/'">
				<p>Αρχική σελίδα</p>
			</div>

    	</div>
    </div>
{% endblock %}
